/** @format */

.DarkModeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggleBtn {
  border: none;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  font-size: 18px;
  position: relative;
  transition: all 1s;
}
.toggleBtn span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 1px;
}
.toggleBtn_dark {
  background-color: var(--main-color);
}
button:hover {
  color: var(--main-color);
}
