/** @format */

.IdeTopBarContainer {
  border-color: var(--main-color);
}
.IdeTopBarHeader {
  color: var(--main-color);
}
.CopySuccess {
  color: white;
  width: 230%;
  left: -25px;
  background-color: var(--main-color);
  padding: 3px;
}
