.PasswordConfirm {
  width: 400px;
  background-color: white;
  border: var(--main-color) 1px solid;
  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
}

.container .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 30px;
}

.container .passwordSet {
  display: flex;
  flex-direction: column;
}

.container .passwordSet label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 300;
}

.passwordInput {
  display: flex;
  flex-direction: column;
}

.passwordInput input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: var(--lightGray-color);
  padding: 15px 15px;
  margin-top: 5px;
  font-size: 14px;
  font-family: 'NeoDunggeunmoPro-Regular';
}

.passwordInput button {
  width: 60px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--main-color);
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 16px;
  cursor: pointer;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 20px;
}

.passwordInput button:hover {
  background-color: var(--mainDark-color);
}
