.UserInfoModifyModal {
  width: 400px;
  background-color: white;
  border: var(--main-color) 1px solid;
  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
}

.userPhotoInfo {
  display: flex;
  flex-direction: column;
}

.userPhoto .PhotoBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userPhoto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userPhoto label {
  color: var(--main-color);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.userPhoto input {
  display: none;
}

.userPhoto .deleteImgBtn {
  background-color: transparent;
  color: red;
  width: 100px;
}

.userPersonalInfo {
  margin-bottom: 10px;
}

.userPersonalInfo input {
  display: block;
  width: 360px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  background-color: var(--lightGray-color);
  padding: 15px 15px;
  margin-bottom: 5px;
  font-size: 14px;
}

.userPersonalInfo label {
  line-height: 2;
  text-align: left;
  display: block;
  margin: 10px 0 5px;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 30px;
}

.submitBtn {
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  padding: 10px;
}

.deleteImgBtn {
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  height: 40px;
}
