@import './reset.css';

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'NeoDunggeunmoPro-Regular';
}

:root {
  --main-color: #04c92f;
  --mainDark-color: #16b438;
  --lightGray-color: #f3f3f3;
  --darkGray-color: #b0b0b0;
  --alert-color: #ff6464;
}

body {
  transition: background-color 0.7s ease, color 0.7s ease; /* 배경색 및 글자색 전환 효과 */
}
